<div class="flex justify-between items-center mb-4">
  <h2 class="mb-0 font-light">User List</h2>

  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog()"
      class="px-4 py-2 bg-blue-600 text-white rounded"
    >
      Add New User
    </button>
  </div>
</div>
<div
  *ngIf="error"
  class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4"
>
  {{ error }}
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Full Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Company</th>
        <th scope="col" class="px-6 py-3">Related Workers</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="users.length === 0 && !loading">
        <td colspan="5" class="px-6 py-4 text-center">No users found</td>
      </tr>
      <tr
        *ngFor="let user of users; let odd = odd"
        class="border-b border-gray-200"
        [ngClass]="{ 'bg-white': odd, 'bg-gray-50': !odd }"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ user.name }}
        </th>
        <td class="px-6 py-4">{{ user.email }}</td>
        <td class="px-6 py-4">{{ user.company?.name || '' }}</td>
        <td class="px-6 py-4">{{ getCoworkerNames(user.relatedWorkers) }}</td>
        <td class="px-6 py-4">
          <span class="cursor-pointer mr-2">
            <mat-icon
              aria-hidden="false"
              class="text-blue-600"
              fontIcon="edit"
              (click)="openDialog(user)"
            ></mat-icon>
          </span>
          <mat-icon
            aria-hidden="false"
            class="text-red-600"
            fontIcon="delete_forever"
            (click)="deleteUser(user.id)"
          ></mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="loading" class="flex justify-center my-4">
  <mat-spinner diameter="40"></mat-spinner>
</div>
