<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="menu"
  ></mat-icon>
</button>

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li *ngFor="let item of sidebarItems">
        <a
          [routerLink]="item.path"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="item.icon"
          ></mat-icon>

          <span class="flex-1 ms-3 whitespace-nowrap">{{ item.title }}</span>
          <span
            *ngIf="item.badge"
            class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium rounded-full"
            [ngClass]="[item.badge.bgClass, item.badge.textClass]"
            >{{ item.badge.text }}</span
          >
        </a>
      </li>
    </ul>
  </div>
</aside>
